{% extends "base.html" %}

    {% block maincontent %}
    <div class="hero-unit">
     	<h1>Use this form to view users</h1>
     	<br>
     	<br>
	
		<ul style="list-style-type: none;">
			{% for user in users %}
				<li><strong>Name:</strong> {{user[1]}} </li>
				<li><strong>Surname:</strong> {{user[2]}} </li>
				<li><strong>Email:</strong> {{user[3]}} </li>
				<input type="checkbox" name="delete"> Delete </input>
				<br>
				<br>
			{% end %}
		</ul>

		<input type="button" class="btn btn-primary btn-large" value="Delete" />
	</div>
    {% end %}